.info-card {
  display: flex;
}

.percentage {
  position: relative;
  bottom: 8.5rem;
  left: 4.5rem;
}

.premium-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8rem;
  padding-left: 14rem;
}

.premium-wrapper p {
  color: #515A5A;
  font-family: Montserrat;
  font-size: 20px;
  letter-spacing: 0;
  line-height: 10px;
  text-align: center;
}

.premium {
  margin-bottom: 1rem
}

.total {
  font-size: 14px!important
}

canvas {
  padding-left: 6rem
}