.percentage {
  position: relative;
  bottom: 8.5rem;
  left: 4.5rem;
}

.premium-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 5rem;
  padding-top: 3rem;
}

.premium {
  margin: 0
}